body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

.section-one {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 14px;
}

.header, .section-content {
    margin: 0 15%;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

a {
    text-decoration: none;
}

a, .hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
}