body {
    font-family: Roboto, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.section-one {
    background-color: #1f2937;
    flex: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 14px;
}

.header-right {
    display: flex;
    gap: 25px;
}

.header, .section-content {
    margin: 0 15%;
}

.section-content {
    display: flex;
    justify-content: center;
    padding: 150px 0;
    gap: 30px;
}

.left-content {
    display: flex;
    flex-wrap: wrap;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

a {
    text-decoration: none;
}

.hero-main {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

a, .hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
}

button.section-sign-up {
    color: white;
    background: #3882f6;
    border: 1px solid #3882f6;
}

button {
    font-size: 18px;
    border-radius: 8px;
    height: 32px;
    width: 120px;
}

.first-image {
    background-color: aquamarine;
    border: 1px solid lightgreen;
    height: 200px;
    width: 500px;
    flex-shrink: 0;
}

.section-two {
    flex: 1;
}

.section-title {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    display: flex;
    justify-content: center;
    margin: 30px 0px;
}

.content-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.section-two-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 200px;
    text-align: center;
}

.second-images {
    background-color: aquamarine;
    border: 1px solid #3882f6;
    border-radius: 8px;
    height: 80px;
    width: 80px;
}

.section-three {
    flex: 1;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-text {
    color: #1f2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    margin: 0 15%;
}

.section-four {
    flex: 1;
}

.footer {
    background-color: #1f2937;
    height: 72px;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}