body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

.section-one {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 14px;
}

.header, .section-content {
    margin: 0 15%;
}

.section-content {
    display: flex;
    justify-content: center;
    padding: 150px 0;
    gap: 30px;
}

.left-content {
    display: flex;
    flex-wrap: wrap;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

a {
    text-decoration: none;
}

.hero-main {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

a, .hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
}

button.section-sign-up {
    color: white;
    background: #3882f6;
    border: 1px solid #3882f6;
}

button {
    font-size: 18px;
    border-radius: 8px;
    height: 32px;
    width: 120px;
}

.header-image {
    background-color: aquamarine;
    border: 1px solid lightgreen;
    height: 200px;
    width: 500px;
    flex-shrink: 0;
}